<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.muratalioglu.springpractice"/>
	<context:property-placeholder location="classpath:customerservice.properties"/>

    <bean id="carSparePartService"
          class="com.muratalioglu.springpractice.ProfileService">
    </bean>

    <bean id="PCSparePartService"
          class="com.muratalioglu.springpractice.PowerAdapterService">
    </bean>

    <bean id="shuttleService"
          class="com.muratalioglu.springpractice.ShuttleService"
          scope="prototype"
          init-method="initService"
          destroy-method="destroyService">
        <!-- destroy-method not works for prototype scoped beans -->
    </bean>

    <bean id="carFactory"
          class="com.muratalioglu.springpractice.CarFactory">
        <constructor-arg ref="carSparePartService"/>
        <constructor-arg ref="shuttleService"/>
    </bean>

    <bean id="PCFactory"
          class="com.muratalioglu.springpractice.PCFactory">
        <property name="sparePartService" ref="PCSparePartService"/>
        <property name="shuttleService" ref="shuttleService"/>

        <property name="contactName" value="${representative.name}"/>
        <property name="contactEmail" value="${representative.email}"/>
    </bean>

</beans>
