<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:customerservice.properties"/>

    <bean id="carSparePartService"
          class="com.muratalioglu.springpractice.ProfileService">
    </bean>

    <bean id="PCSparePartService"
          class="com.muratalioglu.springpractice.PowerAdapterService">
    </bean>

    <bean id="carFactory"
          class="com.muratalioglu.springpractice.CarFactory">
        <constructor-arg ref="carSparePartService"/>
    </bean>

    <bean id="PCFactory"
          class="com.muratalioglu.springpractice.PCFactory">
        <property name="sparePartService" ref="PCSparePartService"/>

        <property name="contactName" value="${representative.name}"/>
        <property name="contactEmail" value="${representative.email}"/>
    </bean>

</beans>
